[Unit]
Description=go-instabot

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/root
ExecStart=/root/go/bin/go-instabot

[Install]
WantedBy=multi-user.target
